*.pdf binary
references/files/** -text
references/text/** -text
references/proceedings/**/*.pdf filter=lfs diff=lfs merge=lfs -text
references/framework-history/2026-09-09/memory-tiering/*.pdf filter=lfs diff=lfs merge=lfs -text
